<div class= "w-full text-center ">
  <h1 class= "text-textcolor text-7xl">診断結果</h1>

  <div class=" pt-16 pb-16 text-textcolor">
  <p class = "text-4xl">靴のサイズ</p>
  <p class= "pt-5 text-6xl"><%= @shoes.shoes_size.to_f%>cm</p>
  </div>
  <div class="pt-16 pb-16  text-textcolor">
  <p class = "text-4xl">ボール</p>
  <p class = "pt-5 text-6xl"><%= @ball.ball_size %>ポンド</p>
  </div>
  <div>
  <%= link_to 'TOP', root_path, class: "text-textcolor float-center  text-6xl  pr-2 pl-2 bg-buttoncolor" %>
  </div>
  <div class = "float-right text-5xl text-textcolor">
  <p class = "pt-40 float-left pr-60">それではボーリングをお楽しみください</p>
  <%= image_tag 'bowling_nageru_man.png',class: "float-right ", width: "400"  %>
  </div>


</div>
